<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="com.yicj.mybatis.mapper.OrderUserMapper">
	
	<select id="queryOrderUserByOrderNumber" resultType ="OrderUser">
		select * 
		from tb_order o left join tb_user u on o.user_id = u.id
		where o.order_number = #{number}
	</select>
</mapper>