<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 ，
	为了使用接口动态代理，这里必须是接口的全路径名 -->
<mapper namespace="com.yicj.study.mapper.UserMapper">
	<select id="selectUserAll" resultType="User">
		select * from user
	</select>
</mapper>